<div class="sidebar-header">
    <h3>Claimorous!</h3>
    <p>Wiki</p>
</div>
<div class="sidebar-search">
    <input type="text" id="search-input" placeholder="Search...">
</div>
<ul class="sidebar-nav">
    <li><a href="index.html"><i class="fas fa-home"></i> Overview</a></li>
    <li>
        <a href="#playerClaims" class="dropdown-toggle" data-toggle="collapse"><i class="fas fa-map-marker-alt"></i> Player Claims</a>
        <ul class="collapse list-unstyled" id="playerClaims">
            <li><a href="views/player-claims/global-settings.html">Global Claim Settings</a></li>
            <li><a href="views/player-claims/protection.html">Protection</a></li>
            <li><a href="views/player-claims/essence-system.html">Essence System</a></li>
            <li><a href="views/player-claims/permission-system.html">Permission System</a></li>
            <li><a href="views/player-claims/claim-transfer.html">Claim Transfer</a></li>
            <li><a href="views/player-claims/visual-settings.html">Visual Settings</a></li>
            <li><a href="views/player-claims/logging-settings.html">Logging Settings</a></li>
        </ul>
    </li>
    <li>
        <a href="#adminClaims" class="dropdown-toggle" aria-expanded="false"><i class="fas fa-shield-alt"></i> Admin Claims</a>
        <ul class="collapse list-unstyled" id="adminClaims">
            <li><a href="views/admin-claims/commands.html">Admin Claim Commands</a></li>
            <li><a href="views/admin-claims/config.html">Configuration</a></li>
        </ul>
    </li>
    <li><a href="views/troubleshooting.html"><i class="fas fa-wrench"></i> Troubleshooting</a></li>
    <li><a href="https://discord.gg/6SM9WvgcY6" target="_blank" rel="noopener noreferrer" ><i class="fab fa-discord"></i> Discord</a></li>
</ul>
<div class="sidebar-footer">
    <a href="https://modrinth.com/mod/claimorous" target="_blank" rel="noopener noreferrer" >Modrinth</a>
    <a href="https://curseforge.com/minecraft/mc-mods/claimorous" target="_blank" rel="noopener noreferrer" >CurseForge</a>
</div>
